{
  "root": true,
  "parser": "babel-eslint",
  "extends": "loopback",
  "rules": {
    "strict": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "comma-dangle": "off",
    "quotes": "off",
    "semi": "off",
    "no-trailing-spaces": "off"
  }
}
